header > nav > :first-child {
    color: red;
}

header > nav > :last-child {
    color: purple;
}

.left {
    background-color: lightblue;
}
.middle {
    background-color: lightseagreen;
}
.right {
    background-color: lightcoral;
}